<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <ul class="nav navbar-nav navbar-options">
      	<li class="nav-button-footer">
		<a href="/dataset">{{_('Data')}}</a>
	</li>
	<li class="nav-button-footer">
                <a href="/organization">{{_('Organizations')}}</a>
        </li>
	<li class="nav-button-footer">
                <a href="/about">{{_('About')}}</a>
        </li>
	<li class="nav-button-footer dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_('More')}}
                    <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                    <li><a  class="dropdown-item" href="{{h.url_for('/pages',_external=True)}}">{{_('Pages')}}</a></li>
                    <li><a  class="dropdown-item" href="{{h.url_for('/blog',_external=True)}}">{{_('Blogs')}}</a></li>
            </ul>
	</li>
      </ul>
    </div>
    {% endblock %}
  </div>
</footer>
