{% ckan_extends %}
<div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
		{% block header_site_navigation_tabs %}
			{{ h.build_nav_main( ('search',_('Data')), ('organizations_index',_('Organizations')),('home.about',_('About' )))}}
			<li class="nav-button dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                		Blog
                		<span class="caret"></span>
        		</a>
        		<ul class="dropdown-menu">
                		<li><a  class="dropdown-item" href="/pages/blog">Blog 0</a></li>
                		<li><a  class="dropdown-item" href="/pages/blog-1">Blog 1</a></li>
        		</ul>
			</li>

		{% endblock %}
   	  </ul>
        </nav>
      {% endblock %}
{% block header_site_search %}
{% endblock %}
</div>
