body{
	font-family: 'Roboto', sans-serif;
}

.navbar{
	background-color: #ffffff;
}


.navbar .navbar-toggle{
	border-color: #ddd;
}
.navbar-right > button   { color: #888;
}
.masthead .nav > li > a {
	color:#333;
	font-size:20px;
}
.homepage > div[role=main]{
	background-image: url("https://images.unsplash.com/photo-1597543177355-e874cee9dee8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=786");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.heading-underline{
	margin-top: 2px;
	border-top: 5px solid var(--color-3);
	width: 90px;
	margin-bottom: 2em;
}
.about-module-content{
	margin-top: 3.5em;
}


.about-tweets{
	margin-top : 8em; 
	height:600px;
	width:auto;
	overflow-y:scroll;
	}
.about-logos{
	display: table;
	width: 100%;
}
.logo-img{
	display: table-cell;
	vertical-align: middle;
	width: 33.33px;
	padding: 13px;
	height: 50px;	
	
}
