{% ckan_extends %}

{% block primary_content %}
<section>
  <div class='slider-container'>
    <div id='odp-main-slider' class='carousel slide' data-ride='carousel'>

      <!-- wrapper for slides -->

      <div class='carousel-inner'>

        <div class='active item'>
          <img src='https://treelogic.com/en/assets/images/data-science-1400x933.jpg' />
        </div>
        <div class='item'>
          <img
            src='https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2015/10/DataScienceContentBanner.png' />
        </div>
        <a class="carousel-control left" href="#odp-main-slider" data-slide="prev">
          <span class="fa fa-angle-double-left"></span>
        </a>
        <a class="carousel-control right" href="#odp-main-slider" data-slide="next">
          <span class="fa fa-angle-double-right"></span>
        </a>
      </div>
    </div>
</section>
{{ super() }}
<!-- comments by hussnain put the section block under this line see the carousal section and odp page for reference -->

<section id="popular_dataset">
  <div class="container">
    <h1 id="pd_h">Featured Dataset</h1>
    <div class="row pd_row">
      <div class="col-6 text-left">
        <div class="pd_heading">
          <h2>Popular Dataset</h2>
          <p>Most Viewed Popular Dataset</p>
        </div>
        {% for data in h.ckan_theme_most_popular_datasets() %}
        <div class="pd_datasets">
          <div class="row">
            <div class="col">
              <h3><a href="{{h.url_for(controller='package', action='read', id=data['name'])}}">{{data['title']}}</a>
              </h3>
              {% if data['notes'] %}
              <p>{{ h.markdown_extract(data['notes'], extract_length=100) }}</p>
              {% else %}
              <p>{{ _('This dataset has no description') }}</p>
              {% endif %}
              <ul class="list-inline">
                {% for resource in data['resources'] %}
                <li class="list-inline-item"><a
                    href="{{h.url_for(controller='package', action='read', id=data['name'])}}"
                    class="label label-default" data-format="{{resource['format']}}">{{resource['format']}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}